[Unit]
Description=Autoaim Service
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /home/rcclub/.bashrc \
                        &&source /opt/ros/dashing/setup.bash \
                        && source /home/rcclub/ggbond/autoaim_ws/install/setup.bash\
                        && . /home/rcclub/ggbond/autoaim_ws/src/prepare_autoaim.sh\
                        && ros2 launch autoaim_alpha start_autoaim2.launch.py '
User=rcclub
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target




