[Unit]
Description=Autoaim_Test Service
After=network.target 

[Service]
ExecStart=/bin/bash -c 'source /opt/ros/dashing/setup.bash \
                        && source /home/liyuxuan/vscode/pywork_linux/autoaim_ws/install/setup.bash\
                        && ros2 launch autoaim_alpha start_test.launch.py '
User=liyuxuan
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target




